div.frontPage-Body {
    max-width: 1000px;
    width: 100%;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
    text-align: center;
}

#youtube-vid-div {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    border-radius: 2%;
}

#youtube-vid-iframe {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    border: 0;
}
